<h2>This again?</h2>
<div>
  <blockquote>
    &mdash; Honey, what do you want for breakfast?<br>
    &mdash; You're a wizard, I'll enjoy whatever you can make me!
  </blockquote>
  <hr>
  <p>Ohhh, we know that pain! Tell us what's in your fridge and drop the burden of those silly decisions.</p>
</div>

<div>
  <form>
    <textarea
      id="ingredients"
      name="ingredients"
      hx-get="/recipes/search/results"
      hx-include="[name='use_ratio']"
      hx-trigger="keyup[event.target.value!=''] changed delay:500ms, change from:input[name='use_ratio']"
      hx-target="#results"
      hx-indicator="#indicator"
      placeholder="bread, tortillas, goat cheese, honey, peanuts, rocket"
      ></textarea>

    <div class="ratio-sort-toggle">
      <label>
        <small>
          <input type="checkbox" name="use_ratio" />
          That's all I have
        </small>
      </label>
    </div>
  </form>
  <div class="indicator-container"><span id="indicator" class="htmx-indicator" aria-busy="true">Cooking...</span></div>
  <div id="results"></div>
</div>

<script>
  const ingredientsField = document.getElementById("ingredients");
  ingredientsField.addEventListener("input", function() {
    if (this.clientHeight < this.scrollHeight) {
      this.style.height = "${this.scrollHeight}px";
    }

    if (this.value == "") {
      htmx.trigger("#ingredients", "htmx:abort")

      const results = document.getElementById("results");
      results.innerHTML = "";
    }
  });
</script>
