<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <h3><%= recipe.title %></h3>
      <ul>
        <% recipe.ingredients.each do |ingredient| %>
          <li>
            <% if recipe.matching_ingredients.include?(ingredient) %>
              <mark><%= ingredient %></mark>
            <% else %>
              <%= ingredient %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
